<div class="row justify-content-center mt-5">
  <table>
    <thead>
      <tr>
        <th colspan="4">
          <input type="text" value="{{opBar}}" readonly>
          <input type="text" value="{{resulBar}}" readonly>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr id="l1">
        <td><button (click)="Borrar()">C</button></td>
        <td><button (click)="BorradoParcial()">CE</button></td>
        <td><button (click)="Backspace()">
          <img src="https://img.icons8.com/material-sharp/24/000000/clear-symbol.png">
        </button></td>
        <td><button id="c" (click)="Operacion('/')">
          <img src="https://img.icons8.com/metro/26/4b2a00/divide.png">
        </button></td>
      </tr>
      <tr>
        <td><button (click)="btnNumero('7')">7</button></td>
        <td><button (click)="btnNumero('8')">8</button></td>
        <td><button (click)="btnNumero('9')">9</button></td>
        <td>
          <button id="c" (click)="Operacion('*')">x</button>
        </td>
      </tr>
      <tr>
        <td><button (click)="btnNumero('4')">4</button></td>
        <td><button (click)="btnNumero('5')">5</button></td>
        <td><button (click)="btnNumero('6')">6</button></td>
        <td>
          <button id="c" (click)="Operacion('-')">-</button>
        </td>
      </tr>
      <tr>
        <td><button (click)="btnNumero('1')">1</button></td>
        <td><button (click)="btnNumero('2')">2</button></td>
        <td><button (click)="btnNumero('3')">3</button></td>
        <td>
          <button id="c" (click)="Operacion('+')">+</button>
        </td>
      </tr>
      <tr>
        <td><button (click)="masMenos()">+/-</button></td>
        <td><button (click)="btnNumero('0')">0</button></td>
        <td><button (click)="btnPunto()">.</button></td>
        <td>
          <button id="iqual" ngModel="press" (click)="Resul()">=</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-sm-4 bg-dark" style="height: 477px; text-align: right;">
    <div style="min-height: 450px;">
      <h3 class="mt-2" style="color: white; text-align: center;">Historial</h3>
      <ul style="list-style: none; padding: 0;">
        <li *ngFor="let i of result">
            <span style="float: left;">{{i}}</span> 
            <span class="fa fa-remove" (click)="Eliminar(i.index)"></span>
        </li>
      </ul>
    </div>
  </div>  
</div>